<div class="post p-4 m-3">
    <div class="title p-2">
        <div class="text-center">
            <a class="nav-link" href="/post/{{id}}">{{title}}</a>
        </div>

        <div class="content justify-content-center">
            <p>{{post_text}}</p>
        </div>
    </div>

    <div class="text-right" style="float:right">
        - Posted by {{user.username}} on {{format_date created_at}}
    </div>

    <div class="text-center">
        <div class="text-right" style="float:right">
            {{comments.length}} {{format_plural ": Comment" comments.length}}
        </div>
    </div>
</div>